<h1>Edit An Art Post</h1>

<form action="/art_posts/<%=@art_post.id%>" method="post">
<input type="hidden" name="_method" value="patch">
   <p> Title: <input type="text" name="title" value="<%=@art_post.title%>"></p>
   <p> Image URL: <input type="text" name="img_url" value="<%=@art_post.img_url%>"></p>
   <p> Description: <textarea name="description"><%=@art_post.description%></textarea></p>
   <p> Price: <input type="number" name="price" value="<%=@art_post.price%>"></p>
    <input type="submit" value="Edit Art Post">
</form>