<h2><%=@art_post.title%></h2>

<img src="<%=@art_post.img_url%>">

<p><%=@art_post.description%></p>
<p>$<%=@art_post.price%></p>
<% if  seller_logged_in? && current_seller == @art_post.seller %>
    <div class="row">
        <div class="col">
            <a href="/art_posts/<%=@art_post.id%>/edit"><button type="button" class="btn btn-primary">Edit</button></a> 
            <form action="/art_posts/<%=@art_post.id%>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-danger">Delete</button> 
            </form>
        </div>
    </div>
<% elsif current_buyer %>
    <form action="/buyers/cart" method="post">
        <button type="submit" class="btn btn-primary" name="cart" value="<%= @art_post.id %>">Add to Cart</button> 
    </form>
<% end %>

<a href="/art_posts">View All Art Posts</a>